# Dependencies
node_modules/

# Build outputs
dist/
.astro/
.turbo/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Test
coverage/

# Temp
*.tmp
.temp/
